* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'font1';
    src: url('./assets/font1.woff2');
}

@font-face {
    font-family: 'font2';
    src: url('./assets/font2.woff2');
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: #e4e2e2;
    position: relative;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

#page1-content {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #e4e2e2; */
    color: #EAE5DD;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#cursor {
    height: 7vw;
    width: 7vw;
    background-color: #FF5F36;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: fixed;
    transform: translate(-50%, -50%);
}

#cursor h5 {
    font-size: 1.3vw;
    font-family: 'font2';
    color: hsl(0, 24%, 90%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 4vw;
    width: 100%;
    font-family: 'font2';
    z-index: 10;
}

nav h3 {
    font-size: 1.3vw;
    z-index: 100;
}

nav h4 {
    font-size: 1vw;
}

#svg {
    padding-bottom: 3vw;
    z-index: 10;
}

#svg .path {
    color:#FF5F36
}



#page2 {
    width: 100%;
    position: relative;
    padding: 5vw 3vw;
}

#page2-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #000;
}

#page2-top h3 {
    font-size: 1.7vw;
    font-family: 'font1';
    font-weight: 100;
}

#page2-top h4 {
    font-size: 1.7vw;
    font-family: 'font1';
    font-weight: 500;
}

.elem {
    overflow: hidden;
}

.elem .line {
    font-size: 4vw;
    font-weight: 300;
    font-family: 'font2';
    color: #000;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#page3-top{
    text-align: center;
}

#page3-top h4{
    font-size: 1.3vw;
    font-family: 'font2';
    font-weight: 100;
    padding: 3vw;
}

#page3-top h4 span{
    background-color: #FF5F36;
    color: #fff;
    border-radius: 1vw;
    padding: 0.5vw 0.7vw;
    font-size: 0.95vw;
    font-weight: 900;
    font-style: italic;
}
#page3-top span{
    color: #FF5F36;
    font-weight: 900;
}

#page3-top h2{
    font-size: 4.1vw;
    font-family: 'font2';
}

#page3-bottom{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vw;
}

#page3-bottom .elem{
    height: 100%;
    width: 32%;
    position: relative;
}

#page3-bottom .elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 1vw;
    object-position: center;
}

#page3-bottom .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 1vw;
    object-position: center;
    position: absolute;
}

#page3-bottom .elem:hover img{
    opacity: 0;
    transition: all 1s;

}

#page4{
    height: 100vh;
    width: 100vw;
    margin-top: 10vw;
}

#page4 h3{
    font-size: 5vw;
    font-family: 'font1';
    font-weight: 100;
    padding: 3vw;
    text-align: center;
}

#page4 h3 span{
    font-size: 5vw;
    font-family: 'font1';
    text-align: center;
    color: #FF5F36;
}

#page4 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5vw;
}